<% provide(:title, 'earsystem') %>
<h1>ear_system</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@earsystem) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
  <li> <p> Patient Number: <%= f.text_field :patientID %></p></li>

     <li>  <p> Pain: <%= f.check_box :lossofhearing %></p></li>
  <li> <p>   Dryness:  <%= f.check_box :ringinginears %></p></li>







      <p><%= f.submit "Add informations of ears", class: "btn btn-large btn-primary" %></p>
    <% end %>
  </div>
</div>