<% provide(:title, 'Sign up') %>
<h1>Sign up </h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@doctor) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :نام %>
      <%= f.text_field :name %>
      <%= f.label :نام_خانوادگی%>
      <%= f.text_field :family %>
      <%= f.label :ایمیل %>
      <%= f.text_field :email %>
      <%= f.label :شماره_پزشک %>
      <%= f.password_field :pid %>
         <%= f.label :رمز_عبور %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "تایید_رمز_عبور" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "اطلاعات من را ثبت کن", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>