<% provide(:title, 'muscleJointsBoneSystem') %>
<h1>muscle_joints_bone_system</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@muscleJointsBoneSystem) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>


  <li> <p> Patient Number: <%= f.text_field :patientID %></p></li>
  

   <li>  <p>  Joint pain: <%= f.check_box :jointpain %></p></li>

    <li> <p> Joint swelling: <%= f.check_box :jointswelling %></p></li>

 <li>  <p>Muscle weakness:<%= f.check_box :muscleweakness %></p></li>


  <li> <p>   Numbness:  <%= f.check_box :numbness %></p></li>


  



      <p><%= f.submit "Add informations of muscle_joints_bone_system", class: "btn btn-large btn-primary" %></p>
    <% end %>
  </div>
</div>